.header {
  font-weight: 200;
}
.btn {
  height: 40px;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}
.code-wrapper {
  display: none;
  background-color: rgb(53, 48, 59);
  width: 35vw;
  text-align: start;
  font-weight: 200;
  border-radius: 10px;
  color: rgb(209, 207, 53);
  padding: 8px;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
